set_var EASYRSA_REQ_COUNTRY    "{{ easyrsa_country }}"
set_var EASYRSA_REQ_PROVINCE   "{{ easyrsa_province }}"
set_var EASYRSA_REQ_CITY       "{{ easyrsa_city }}"
set_var EASYRSA_REQ_ORG        "{{ easyrsa_org }}"
set_var EASYRSA_REQ_EMAIL      "{{ easyrsa_email }}"
set_var EASYRSA_REQ_OU         "{{ easyrsa_ou }}"
